@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*:not(.material-icons) {
    font-family: "Share Tech", "Noto Sans TC";
}

::selection {
    background-color: rgba(0, 204, 153, 0.3);
    text-shadow: none;
}

header.mdc-top-app-bar {
    box-shadow:  0px 3px 5px black;
}

nav.mdc-drawer__drawer {
    box-shadow:  6px 0px 12px black;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #fff;
    font-family: "Lato";
}

.form-group {
    padding-top: 0.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.mdc-typography, .mdc-top-app-bar__title, .mdc-button {
    font-weight: bolder;
}

.mdc-top-app-bar__row a:hover {
    text-decoration: none;
}

.mdc-drawer__header {
    max-height: 32%; /* for small devices */
}

body {
    position: absolute;
    top: -120px;
    bottom: 0px;
    overflow-x: hidden; /* for 100% width on mobile */
}
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.page-content {
    width: calc(84vw + 30px); /* wider on small devices */
    margin: auto;
    margin-top: 90px;
    padding: 10px;
}

p {
    /* font-size: 0.9375rem; */
    font-size: 1rem;
}

.mdc-button--raised {
    /* font: 500 13.33333px 'Arial'; */
    font-weight: bolder;
    border: 0;
}
.mdc-button {
    /* font: 500 13.33333px 'Arial'; */
    font-weight: bolder;
}
.mdc-button:focus {
    outline: none;
}

.mdc-drawer--temporary .mdc-list-item {
    color: #222;
}

.mat-button.mdc-dialog__footer__button--cancel {
    color: #606060;
}

/* A series of button colors */
.red-button.mdc-button--raised, .red-button.mdc-button--unelevated, .red-button.mdc-button--outlined:after, .red-button.mdc-button--outlined:before {
    background-color: #E74C3C !important;
}
.red-button.mdc-button--outlined {
    border-color: #E74C3C !important;
    color: #E74C3C !important;
}

.orange-button.mdc-button--raised, .orange-button.mdc-button--unelevated, .orange-button.mdc-button--outlined:after, .orange-button.mdc-button--outlined:before {
    background-color: #FB8C00 !important;
    color: #222 !important;
}
.orange-button.mdc-button--outlined {
    border-color: #FB8C00 !important;
    color: #FB8C00 !important;
}

.green-button.mdc-button--raised, .green-button.mdc-button--unelevated, .green-button.mdc-button--outlined:after, .green-button.mdc-button--outlined:before {
    background-color: #00BC8C !important;
}
.green-button.mdc-button--outlined {
    border-color: #00BC8C !important;
    color: #00BC8C !important;
}

.purple-button.mdc-button--raised, .purple-button.mdc-button--unelevated, .purple-button.mdc-button--outlined:after, .purple-button.mdc-button--outlined:before {
    background-color: #AB47BC !important;
    color: #fff !important;
}
.purple-button.mdc-button--outlined {
    border-color: #AB47BC !important;
    color: #AB47BC !important;
}

.pink-button.mdc-button--raised, .pink-button.mdc-button--unelevated, .pink-button.mdc-button--outlined:after, .pink-button.mdc-button--outlined:before {
    background-color: #F48FB1 !important;
    color: #222 !important;
}
.pink-button.mdc-button--outlined {
    border-color: #F48FB1 !important;
    color: #F48FB1 !important;
}

.yellow-button.mdc-button--raised, .yellow-button.mdc-button--unelevated, .yellow-button.mdc-button--outlined:after, .yellow-button.mdc-button--outlined:before {
    background-color: #FFEB3B !important;
    color: #222 !important;
}
.yellow-button.mdc-button--outlined {
    border-color: #FFEB3B !important;
    color: #FFEB3B !important;
}

.brown-button.mdc-button--raised, .brown-button.mdc-button--unelevated, .brown-button.mdc-button--outlined:after, .brown-button.mdc-button--outlined:before {
    background-color: #8D6E63 !important;
    /* color: #222 !important; */
}
.brown-button.mdc-button--outlined {
    border-color: #8D6E63 !important;
    color: #8D6E63 !important;
}

.gray-button.mdc-button--raised, .gray-button.mdc-button--unelevated, .gray-button.mdc-button--outlined:after, .gray-button.mdc-button--outlined:before {
    background-color: #606060 !important;
}
.gray-button.mdc-button--outlined {
    border-color: #606060 !important;
    color: #606060 !important;
}

.blue-button.mdc-button--raised, .blue-button.mdc-button--unelevated, .blue-button.mdc-button--outlined:after, .blue-button.mdc-button--outlined:before {
    background-color: #2196F3 !important;
    color: #FFF !important;
}
.blue-button.mdc-button--outlined {
    border-color: #2196F3 !important;
    color: #2196F3 !important;
}
/* end of button colors */

.mdc-button--outlined.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0.21;
}
.mdc-button--raised.mdc-ripple-upgraded {
    /* --mdc-ripple-fg-opacity: 0.4; */
}

.mdc-list-item.mdc-list-item-active {
    /* color: blue; */
    background-color: #E0E0E0;
}

.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary:before,
        .mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary:after {
            background-color: rgba(66, 66, 66, 1);
        }

:root {
    font-size: 16px;
    --mdc-theme-primary: #2196F3;
    /* --mdc-theme-secondary: #009688; */
    --mdc-theme-secondary: #26A69A;
    /* --mdc-theme-secondary: #707070; */
    --mdc-theme-on-primary: #FFFFFF;
    --mdc-theme-on-secondary: #FFFFFF;
    --mdc-theme-surface: #FFFFFF;
    /* --mdc-theme-text-primary-on-light: rgba(255, 0, 0, 0.6); */
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.8);
    --mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.87);
}

.mdl-layout__content {
    width: 100%;
}
.mdc-dialog__header__title {
    color: #181818;
    font-weight: 500;
}
.mdc-button--outlined {
    border-style: solid;
    padding: 0 14px;
    border-width: 2px;
    line-height: 32px;
}

.checkbox-label {
    padding-top: 7px;
    height: 40px;
    /* color: --mdc-theme-on-secondary; */
    /* font-size: .9375rem; */
    font: 16px 'Lato';
    margin-bottom: 0;
    left: -11px;
    position: relative;
    color: #fff;
    /* vertical-align: middle; */
}

.mdc-dialog a {
    color: #1186E3;
}
.mdc-dialog a:hover {
    color: #004371;
}

.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
    border-color: rgba(255, 255, 255, 0.8);
}
.mdc-form-field {
    /* display: block; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
}
.mdc-checkbox {
    left: -7px;
}

/* .toggle-button-group > .mdc-button {
    line-height: 2rem;
    margin-top: 3px;
    margin-right: 2px;
} */

.mat-button {
    cursor: grab;
    line-height: 2rem;
    margin-top: 3px;
    margin-right: 2px;
    /* margin-bottom: 3px !important; */
}

/* recaptcha display bug (caused by me actually(?))*/
.page-content + div {
    margin-top: 120px !important;
}

/* @media(max-width: 1000000px) {
    .g-recaptcha {
        margin: 0px;
    }
} */

@media(max-width: 371px) {
    .g-recaptcha {
        transform:scale(0.95);
        transform-origin:0 0;
    }
}
@media(max-width: 352px) {
    .g-recaptcha {
        transform:scale(0.9);
        transform-origin:0 0;
    }
}
@media(max-width: 334px) {
    .g-recaptcha {
        transform:scale(0.85);
        transform-origin:0 0;
    }
}
@media(max-width: 315px) {
    .g-recaptcha {
        transform:scale(0.8);
        transform-origin:0 0;
    }
}
@media(max-width: 297px) {
    .g-recaptcha {
        transform:scale(0.7);
        transform-origin:0 0;
    }
}
@media(max-width: 260px) {
    .g-recaptcha {
        transform:scale(0.6);
        transform-origin:0 0;
    }
}
@media(max-width: 222px) {
    .g-recaptcha {
        transform:scale(0.5);
        transform-origin:0 0;
    }
}


/* .g-recaptcha > div {
    max-width: 304px;
    width: 100% !important;
} */

iframe {
    border-radius: 3px;
    border: 1px solid #525252;
    background-color: #525252;
    /* max-width: 304px;
    width: 100%; */
}

/* .recaptcha-container {
    position: relative;
    width: 100%;
    max-width: 304px;
    height: 78px;
    border-radius: 3px;
    border: 1px solid #525252;
    background-color: #525252;
    padding: 0;
}

.ratio {
    display:block;
    width:100%;
    height:auto;
}

.g-recaptcha div {
    position:absolute;top:0;left:0;width:100%; height:100%;
} */

ul li {
    font-size: 1rem;
}

.mdc-drawer__header-content {
    font-size: 1.2rem;
}

.page-section {
    margin-top: 3rem;
}

.page-section .section-title {
    margin-bottom: 1.5rem;
}

.description-label {
    font-size: 1rem;
    cursor: text;
}

/* for text fields */
.mdc-text-field--textarea {
    height: 16rem;
    min-height: 10rem;
    width: 100%;
    resize: vertical;
}

.mdc-text-field__input {
    height: 100%;
}

.mdc-notched-outline, .mdc-notched-outline__idle {
    width: 100%;
    height: 100%;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    /* color: #fff; */
    background-color: rgba(87, 87, 87, 0);
    color: rgba(255,255,255,.7);
    font-family: 'Lato';
    margin-bottom: 0;
}
.mdc-text-field__input {
    height: 50px;
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
    border-bottom-width: 2px;
    border-bottom-color: rgba(255, 255, 255, 0.6);
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input:hover {
    border-bottom-width: 2px;
    border-bottom-color: rgba(255, 255, 255, 0.95);
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-text-field__input {
    color: rgba(255, 255, 255, 1);
    font-family: 'Lato';
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__idle {
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.6);
}
/*.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline__idle,*/ .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline__idle {
    border-color: rgba(255, 255, 255, 0.95);
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__path {
    stroke: rgba(255, 255, 255, 0.6);
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__path, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__path {
    stroke: rgba(255, 255, 255, 0.95);
}
.mdc-text-field--outlined .mdc-text-field__input {
    margin: 0 3px 2px 3px;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline__idle, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline__idle {
    border-color: rgba(255, 255, 255, 0.95);
}

.mdc-text-field--textarea:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not(.mdc-text-field--invalid):hover {
    border-color: rgba(255, 255, 255, 0.95);
}

.mdc-text-field--textarea:not(.mdc-text-field--disabled) {
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.6);
}

.mdc-text-field--textarea .mdc-text-field__input {
    border-width: 0;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon {
    color: rgba(255, 255, 255, 0.7);
}

.mdc-notched-outline__path {
    stroke-width: 2px;
}
/* end text fields */

[data-mdc-tooltip] {
    outline: none;
}

.material-icons[role="img"] {
    cursor: help !important;
}

[data-mdc-tooltip]:before {
    position: absolute;
    background-color: #636363;
    opacity: .95;
    color: white;
    height: 28px;
    border-radius: 2px;
    padding: 6px 8px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato';
    margin-top: 30px;
    content: attr(data-mdc-tooltip);
    visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 0px;
    transform: scale(0.5)
  }
  100% {
    opacity: .95;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 30px;
    transform: scale(1)
  }
}

[data-mdc-tooltip]:hover:before {
    visibility: visible;
    animation: .30s fadeIn;
}

.page-header {
    /* margin-left: 4px; */
}

#announcement-container {
    margin-top: 3rem;
}
.announcement {
    display: flex;
    margin-top: 1rem;
}
.announcement .a-date {
    font-family: "Share Tech Mono";
    font-weight: bold;
    font-size: 1.4rem;
    margin: 2px 16px 0px 3px;
}
.a-card-title {
    /* font-family: "Share Tech Mono"; */
    font-weight: bold;
}
.announcement .a-content {
    margin-top: 8px;
    flex: 1;
    text-align: left;
}

.a-card {
  width: 350px;
}
.mdc-card {
    height: auto;
    color: #222;
}
.card.mb-3 {
    margin-bottom: 1.4rem;
}
.card {
    background-color: #343434;
}
.card-header {
    background-color: #404040;
}
.mdc-button.mat-button.card-button-ok {
    background-color: rgba(33, 150, 240, 0);
}
a.card-link {
    color: #2196F3;
}
a.card-link:hover {
    color: #1565A2;
}

/* stolen from w3schools */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: left 0.5s, width 0.5s, top 0.5s, height 0.5s /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    position: absolute;
    /*top: 25%;*/ /* 25% from the top */
    /* width: 100%; */
    width: calc(84vw + 30px);
    height: auto;
    margin-left: calc(8vw - 15px);
    margin-top: auto;
    text-align: center; /* Centered text/links */
    /* margin-top: 30px;*/ /*30px top margin to avoid conflict with the close button on smaller screens */
    top: calc(50%);
    transform: translateY(-50%);
    overflow-y: hidden;
    vertical-align: middle;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay .overlay-closebtn {
    /* width: 3rem;
    height: 3rem; */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20000;
    font-size: 1.8rem;
}

a[role="button"].mat-button:hover {
    text-decoration: none;
}

.mdc-linear-progress {
    text-align: left;
    /* wider on small devices */
    width: calc(24% + 80px);
    /* manually center */
    left: calc(38% - 40px);
}


.overlay-content > img {
    object-fit: scale-down;
    max-width: 90vw;
    max-height: 90vh;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.material-icons {
    padding: 12px;
    border-radius: 50%;
}
a.material-icons {
    padding: 12px;
}


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 0;
    height: 2px;
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1)); */
    background-color: rgba(255, 255, 255, 0.5);
}

hr[class*="light"] {
    background-color: rgba(0, 0, 0, 0.3);
}

.sep {
    height: 1px;
}

html {
    background-color: transparent;
}

.popover {
    /* added this to prevent a serious bug */
    /* left: -150px !important; */
}

#footer {
    margin: 5em 0 5% 0;
}

.btn-group-toggle .btn {
    left: 1px;
}

.bs-docs-section {
    margin-top: 2em;
    top: 0px;
}

.section h2 {
    margin-left: 3%;
}

.section p {
    margin-left: 6%;
}

.ruletable {
    margin-left: 6%;
    border-collapse: separate;
    border-spacing: 0 7px;
}

.ruletable .num {
    width: 60px;
}

.file-upload {
    display: none;
}

.ruletable td {
    vertical-align: top;
}



.section-header {
    /* large text!! */
    font-size: 2.4rem;
    font-weight: bold;
}

.alert {
    margin-top: 2.5ex;
}

p img {
    vertical-align: baseline;
}

/*
#label { position: absolute; bottom: 0; }
.image { float: left }
#images { float: right !important; margin-right: 0px;} */

.bottom {
    position: fixed;
    bottom: 0;
}

label, .control-label, .help-block, .checkbox, .radio, .form-control-feedback {
    font-size: 1rem;
}

* {
    /* remove font ligature */
    font-feature-settings: "liga" 0;
}

/* below are not used XXX */

    .btn-color-placeholder {
      color: #fff;
      background-color: #375a7f;
      border-color: #375a7f;
    }

    .btn-color-placeholder:hover {
      color: #fff;
      background-color: #2b4764;
      border-color: #28415b;
    }

    .btn-color-placeholder:focus, .btn-color-placeholder.focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
              box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
    }

    .btn-color-placeholder.disabled, .btn-color-placeholder:disabled {
      color: #fff;
      background-color: #375a7f;
      border-color: #375a7f;
    }

    .btn-color-placeholder:not(:disabled):not(.disabled):active, .btn-color-placeholder:not(:disabled):not(.disabled).active,
    .show > .btn-color-placeholder.dropdown-toggle {
      color: #fff;
      background-color: #28415b;
      border-color: #243a53;
    }

    .btn-color-placeholder:not(:disabled):not(.disabled):active:focus, .btn-color-placeholder:not(:disabled):not(.disabled).active:focus,
    .show > .btn-color-placeholder.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
              box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
    }

    .btn-outline-color-placeholder {
      color: #375a7f;
      background-color: transparent;
      background-image: none;
      border-color: #375a7f;
    }

    .btn-outline-color-placeholder:hover {
      color: #fff;
      background-color: #375a7f;
      border-color: #375a7f;
    }

    .btn-outline-color-placeholder:focus, .btn-outline-color-placeholder.focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
              box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
    }

    .btn-outline-color-placeholder.disabled, .btn-outline-color-placeholder:disabled {
      color: #375a7f;
      background-color: transparent;
    }

    .btn-outline-color-placeholder:not(:disabled):not(.disabled):active, .btn-outline-color-placeholder:not(:disabled):not(.disabled).active,
    .show > .btn-outline-color-placeholder.dropdown-toggle {
      color: #fff;
      background-color: #375a7f;
      border-color: #375a7f;
    }

    .btn-outline-color-placeholder:not(:disabled):not(.disabled):active:focus, .btn-outline-color-placeholder:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-color-placeholder.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
              box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.5);
    }
