#chat-section {
    background-color: #181818;
}

.msg-c.from-others {
    padding: 8px 8px 0px 8px;
    display: flex;
    justify-content: flex-start;
}
.msg-c.from-others .msg {
    padding: 8px;
    line-height: 1rem;
    margin: 4px;
    border-radius: 6px;
    background-color: #060;
    width: fit-content;
    max-width: 80%;
    overflow-wrap: break-word;
}
.msg-c.from-you {
    padding: 8px 8px 0px 8px;
    display: flex;
    justify-content: flex-end;
}
.msg-c.from-you .msg {
    padding: 8px;
    line-height: 1rem;
    margin: 4px;
    border-radius: 6px;
    background-color: #600;
    width: fit-content;
    max-width: 80%;
    overflow-wrap: break-word;
}
